@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

  .rotate {
    animation: rotate .5s linear;
    animation-iteration-count: 6;
  }

  @keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  .rotate {
    animation: rotate .5s linear;
    animation-iteration-count: 6;
  }

  .show {
    display: flex;
    animation: show 1s linear;
    animation-fill-mode: forwards;
  }