@font-face {
    font-family: 'Holtwood';
    src: url('../fonts/HoltwoodOneSC.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
  font-family: 'hpsimplified';
  src: url('../fonts/hpsimplified.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Spicy';
  src: url('../fonts/SpicyRice.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gluten';
  src: url('../fonts/Gluten-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gluten';
  src: url('../fonts/Gluten-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gluten';
  src: url('../fonts/Gluten-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}